In [17]:
import pandas as pd 
  
column_names = ['user_id', 'item_id', 'rating', 'timestamp'] 
  
path = 'C:/Users/floly/Downloads/toy_complet.csv'

df = pd.read_csv(path, sep='\t') 
  
df.head() 

movie_titles = pd.read_csv('https://media.geeksforgeeks.org/wp-content/uploads/Movie_Id_Titles.csv') 
movie_titles.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 991,Unnamed: 992,Unnamed: 993,Unnamed: 994,Unnamed: 995,Unnamed: 996,Unnamed: 997,Unnamed: 998,Unnamed: 999,Unnamed: 1000
0,NaN,1,2,1,5,4,2,0,2,4,...,3,0,4,4,3,0,1,1,4,4
1,NaN,3,2,2,3,0,2,4,4,4,...,1,4,3,1,2,3,0,2,4,1
2,NaN,0,4,2,1,4,0,2,1,4,...,1,0,2,2,3,3,5,1,5,0
3,NaN,0,4,2,0,3,0,2,1,4,...,1,1,1,1,4,2,5,2,4,0
4,NaN,0,5,2,1,2,0,2,1,4,...,1,1,1,1,3,3,4,3,3,1